<% if (locals.messages) { %>
<div class="messages">
  <ul class="messages">
    <% Object.keys(messages).forEach((key) => { %> <%
    messages[key].forEach((message) => { %>
    <li class="<%= key %>"><%= message %></li>
    <% }) %> <% }) %>
  </ul>
</div>
<% } %>
<script>
  // Clear flash messages after 6 seconds
  setTimeout(function() {
    var messagesContainer = document.querySelector('.messages');
    if (messagesContainer) {
      messagesContainer.style.display = 'none';
    }
  }, 3000);
</script>

