<%- include('./layouts/header') %>
<h1>Login</h1>
<form action="/passwordReset/forgot" method="post" class="lg-form">
  <div>
    <h3>please enter your email to reset password</h3>
    <label for="email">Email/Username</label>
    <input type="email" name="email" id="email" />
  </div>
  <div>
    <input type="submit" value="submit" />
  </div>

</form>

<div>
 
  <p>
    Don't have an account? <span><a href="/auth/register">Register</a></span>
  </p>
</div>
<br />
<%- include('./layouts/footer') %>
