<%- include('./layouts/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <p>HELLO AVVIC WELCOME TO THE HOME PAGE</p>
</div>

<%- include('./layouts/footer') %>

